body, html {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    background-color: #f5f7fb;
    font-family: nunito;
}

/* SIDEBAR */
.sidebar {
    width: 15em;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    height: 100%;
    border-right: solid;
    border-width: 0.01em;
    border-color: #e5e6ed;
    padding: 2em;
    overflow: hidden;
}
.navBut {
    margin-bottom: 2em;
    height: 5em;
    width: 16em;
    align-self: center;
    border-radius: 1em;
    outline: 0;
    font-family: nunito;
    background-color: #6d38d5;
    border: none;
    box-shadow: 0 0 1.2em 0.1em #6d38d5;
}
.inactive {
    box-shadow: none;
    margin-bottom: 2em;
    height: 5em;
    width: 16em;
    align-self: center;
    border-radius: 1em;
    outline: 0;
    font-family: nunito;
    background-color: white;
    border: none;
}
.navButText {
    font-size: 1.5em;
    text-decoration: none;
    color: #727272;
    font-weight: 700;
}
.navButText:hover {
    font-weight: 800;
    color: #5a5a5a;
}

.main {
    margin-left: 19em;
    padding-left: 7em;
    padding-top: 3em;

    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 2em;
}

.mainBut {
    height: 3em;
    width: 10em;
    align-self: center;
    border-radius: 1.5em;
    outline: 0;
    font-family: nunito;
    background-color: #915bfd;
    border: none;
    color: white;
    margin-right: 2em;
    font-weight: 700;
    font-size: 1em;
}
.mainBut:hover {
    cursor: pointer;
}

h1 {
    font-family: nunito;
    font-weight: 700;
    padding-bottom: 0px;
    font-size: 2.5em;
}
h2 {
    font-size: 1.9em;
    font-weight: 300;
}

.subheading {
    font-size: 1.2em;
    font-weight: 300;
}
.subheading2 {
    font-weight: 300;
    font-size: 2.2em;
}

.cred {
    position: fixed;
    bottom: 5px;
    margin-left: 1em;
    font-size: 1.2em;
    font-weight: 700;
}
.credName {
    color: #6d38d5;
}
.credName:hover {
    background-color: #B4D5FE;
    color: #6d38d5;
}