{% extends 'base.html' %}

{% block head %}
<title>Charitize</title>
{% endblock %}

{% block body %}
<div class="page-content">
    <div class="sidebar">
        <ul style="list-style: none;">
            <li><a href="/">Home</a></li>
            <li><a class="active" href="find">Find a Charity</a></li>
            <li><a href="donations">My Donations</a></li>
        </ul>
    </div>

    <div style="margin-left:25%; padding:1px 16px;">
        <h1>Enter a keyword to find a charity foundation to donate to:</h1>
        
        <form action="/find" method="POST">
            <input type="search" name="searchCharity" placeholder="eg. medical">
            <label for="quantity">How many results do you want to see (between 1 and 10)?</label>
            <input type="number" id="quantity" name="quantity" min="1" max="10" value="5">
            <button type="submit">Search</button>
        </form>
        
        {% for name in names %}
            <h2>{{ name }}</h2>
            <h3>{{ cities[loop.index0] }}</h3>
            <a target="_blank" href="{{ urls[loop.index0] }}"><button>donate now</button></a>
        {% endfor %}
    </div>
    
</div>
{% endblock %}