{% extends 'base.html' %}

{% block head %}
<title>Charityze</title>
{% endblock %}

{% block body %}
<div class="page-content">
    <div class="sidebar">
        <img src="{{ url_for('static', filename='assets/charity.png') }}" style="width: 8em; margin-bottom: 3em; align-self: center;">
        <button class="navBut inactive"><a class="navButText" href="/">Home</a></button>
        <button class="navBut active"><a class="navButText" style="font-size: 1.5em; text-decoration: none; color: white; font-weight: 700;" href="find">&#128269; Find a Charity</a></button>
        <button class="navBut inactive"><a class="navButText" href="donations">&#128214; My Donations</a></button>
    </div>

    <div class="main">
        <h2>Enter a keyword to find a charity foundation to donate to:</h1>
        
        <form action="/find" method="POST">
            <input type="search" name="searchCharity" placeholder="eg. medical"><br><br>
            <label for="quantity">How many results do you want to see (between 1 and 10)?</label><br>
            <input type="number" id="quantity" name="quantity" min="1" max="10" value="5"><br><br>
            <button type="submit" class="mainBut">Search</button>
        </form>
        
        {% for name in names %}
            <h2>{{ name }}</h2>
            <h3>{{ cities[loop.index0] }}</h3>
            <a target="_blank" href="{{ urls[loop.index0] }}"><button>donate now</button></a>
        {% endfor %}
    </div>
    
    <div class="cred">
        By <a class="credName" href="http://uzairr.me/" target="_blank">Uzair Ahmad</a>
    </div>
    
</div>
{% endblock %}