{% extends 'base.html' %}

{% block head %}
<title>Charityze</title>
{% endblock %}

{% block body %}
<div class="page-content">
    <div class="sidebar">
        <img src="{{ url_for('static', filename='assets/charity.png') }}" style="width: 8em; margin-bottom: 3em; align-self: center;">
        <button class="navBut active"><a style="font-size: 1.5em; text-decoration: none; color: white; font-weight: 700;" href="/">Home</a></button>
        <button class="navBut inactive"><a class="navButText" href="find">&#128269; Find a Charity</a></button>
        <button class="navBut inactive"><a class="navButText" href="donations">&#128214; My Donations</a></button>
    </div>

    <div class="main">
        <h1>Welcome to Charityze!</h1><br>
        <h2 class="subheading">Your personal Donation Dashboard. Get started below:</h2><br>
        <a href="find"><button class="mainBut">Find a Charity</button></a>
        <a href="donations"><button class="mainBut">Make a Donation</button></a>
    </div>


    
    <div class="cred">
        By <a class="credName" href="http://uzairr.me/" target="_blank">Uzair Ahmad</a>
    </div>

</div>
{% endblock %}