{% extends 'base.html' %}

{% block head %}
<title>Charitize</title>
{% endblock %}

{% block body %}
<div class="page-content">
    <div class="sidebar">
        <ul style="list-style: none;">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="find">Find a Charity</a></li>
            <li><a>My Donations</a></li>
        </ul>
    </div>
    <div style="margin-left:25%; padding:1px 16px;">
        <h1>Welcome to Charitize!</h1>
    </div>
    
</div>
{% endblock %}