{% extends 'base.html' %}

{% block head %}
<title>Charityze</title>
{% endblock %}


{% block body %}
<div class="content" style="margin: 5em;">
    <h1>Update Donation</h1>

    <form action="/update/{{donation.id}}" method="POST">
        Foundation Name <input type="text" name="name" id="content" value="{{donation.foundation}}">
        Amount $<input type="number" name="number" id="content" value="{{donation.amount}}">

        <input type="submit" value="Update donation">
    </form>
</div>
{% endblock %}